
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/*header styles*/
body{
    margin: 0px;
    background-color: #F5F8FF;
}
body header{
    background-image: url(../Assets/Hero-bg.png);
    width: 100%;
    height: 698px;
}
/* nav styles*/
nav{
    display: flex;
    justify-content: space-between;

}
nav ul li{
    list-style: none;
}

nav h1{
    color: #4E47FF;
    font-weight: bolder;
    font-size: 34px;
    margin: 100px auto 100px 150px;
}

nav button{
    margin:100px 150px 100px auto;
}

.btn-primary{
    color:white;
    background-color:#4E47FF;
    font-size: 16px;
    padding:12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-primary:hover {
  background-color: #45a049;
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.banner-text{
    color: #252432;
    font-size: 65px;
    text-align: center;
}

header div p{
    margin-bottom:0px;
}

/*main section */

/*preview section*/
.section-preview{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:116px 160px 116px 140px;
    background-color: white;
}

.preview-title{
    color:#252432;
    font-size: 42px;
    margin-bottom: 23px;
}
.preview-text{
    color:rgba(37, 36, 50, 50%);
    margin: 23px 0;
}
.preview-img{
    border-radius: 48px;
}

/*info section*/
.info-section{
    background-color: rgb(78, 71, 255,10%);
    margin:116px 160px 116px 140px;
    border-radius: 20px;
    align-items: center;
}
.info-header{
    font-size: 30px;
    text-align: center;
    padding: 50px 142px 0px 142px;
}
.info-description{
    display: flex;
    gap:160px;
    justify-content: space-evenly;
    margin:0px 142px;
}
.info-number{
    font-family:"Inter", sans-serif;
    font-size: 95px;
    color: #4E47FF;
    margin-bottom:0px;
    margin-top: 0px;
}
.info-number-details-1{
    font-family:"Inter", sans-serif;
    font-size: 20px;
    color: rgba(37, 36, 50, 50%);
    margin:0px 30px 50px;
}
.info-number-details-2{
    font-family:"Inter", sans-serif;
    font-size: 20px;
    color: rgba(37, 36, 50, 50%);
    margin:0px 17px 50px;
}
.info-number-details-3{
    font-family:"Inter", sans-serif;
    font-size: 20px;
    color: rgba(37, 36, 50, 50%);
    margin:0px 10px 50px;
}
/* review section */
.review{
    margin:116px 160px 116px 140px;
    text-align: center;
}
.review-container{
    display: flex;
    gap:20px;
}

.rating{
    background-color: white;
    border-radius: 20px;
    text-align: left;
    padding:24px;
}
.rating-title{
    font-size:24px;
    color: #1E1E1E;
    margin-bottom: 8px;
    margin-top: 10px;
}
.rating-text{
    font-size: 16px;
    color:#1E1E1E;
    margin-bottom: 0px;
}
.review-title{
    font-size:42px;
}
.reviewer-details{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.reviewer-img{
    border-radius:100px;
    margin-right: 12px;
    height: 40px;
    width: 40px;
}
.reviewer-name{
    font-family: "inter",sans-serif;
    font-size: 16px;
    font-weight:300px;
    color: #757575;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
}
.review-date{
    font-family: "inter",sans-serif;
    font-size: 16px;
    font-weight:300px;
    color: #B3B3B3;
    padding-top: 0px;
    margin:0px;
}
/* focus section */
.focus-section{
    background-color: white;
    margin:116px 160px 116px 140px;
    border-radius: 20px;
    text-align: center;
}
.focus-title{
    font-size: 50px;
    margin: 50px 312px 0px;
   
    padding-top: 71px;
    padding-bottom: 20px;
}
.focus-text{
    font-family:"Inter", sans-serif;
    font-size: 10px;
    color: rgba(37, 36, 50, 50%);
    margin: 0px 326.5px;
    padding-bottom: 20px;
    
}

.focus-img{
    border-radius: 48px;
    margin: 20px auto 71px;
}

/* user section */
.user-section{
    display: flex;
    margin:116px 160px 116px 140px;
    justify-content: space-between;
}

.user-section-text{
    font-size: 97px;
}


form input , label{
    display: block;
}
form label{
    margin-bottom: 19px;
    font-family: "Inter",sans-serif;
    font-size: 18px;
    font-weight:200 ;
}
.user-section input[type="email"],.user-section input[type="text"]{
 width: 497px;
 height: 70px;
 border-radius: 10px;
 border: none;
 padding: 20px 32px;
 font-size: 20px;
 font-family: "Inter", sans-serif;
 margin-bottom: 19px;
}
.user-section textarea{
 width: 497px;
 border-radius: 10px;
 border: none;
 padding: 20px 32px;
 font-size: 20px;
 font-family: "Inter", sans-serif;
 margin-bottom: 19px;
}

.btn-secondary{
    color:white;
    background-color:#4E47FF;
    font-size: 16px;
    padding:19px 201px;
    border-radius: 10px;
    border: none;
    cursor:pointer;
    
}
.btn-secondary:hover {
  background-color: #45a049;
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.user-section input[type="submit"]{
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    margin-bottom: 90px;
}

/*footer section */

footer{
    background-color: white;
    text-align: center;
    width:100%;
    height: 428px;
}
.footer-title{
    font-size: 100px;
    padding: 104px 575px 0px;
    color: #4E47FF;
    font-family: "inter", sans-serif;
    margin-bottom: 0px;
}
.footer-text{
    color: #8987A1;
    font-family: "inter", sans-serif;
    font-size: 16px;
    padding:8px 455px 20px 454px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-section a{
    text-decoration: none;
    color: #8987A1;
    font-size: 16px;
    font-family:"inter", sans-serif ;
    margin: 0px 24px;
    cursor: pointer;
    border-radius: 5px;
}

.footer-section a:hover {
  background-color: #fafafa;
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

